#mario {
  position: absolute;
  left: 0px;
  bottom: 95px;   
  height: 88px;
  width: 45.5px;background:
url('img/mario-jump.png') 0px 0px;
}

#goomba {
  position: absolute;
  left: 1500px;
  bottom: 95px;   
  height: 44px;
  width: 45.5px;background:
url('img/pngkey.com-goomba-png-1876196.png') 0px 0px;
}

#coin {
  position: relative;
  left: 40px;
  bottom: 40px;
  height: 40px;
  width: 40px;background:
url('img/pixilart-486741.png') 0px 0px;
}

#brick {
  position: absolute;
  left: 400px;
  bottom: 295px;   
  height: 50px;
  width: 200px;background:
url('img/Bricks.png') 0px 0px;
}

#prizeBrick {
  position: absolute;

  bottom: 500px;
  height: 50px;
  width: 200px;
  background: url('img/Bricks.png') 0px 0px;
}

#greenPipe {
background: url('img/uv-pipe-big-25992.png');
position: absolute;
left: 1200px;
bottom: 60px;
height: 85px;
width: 85px;
}

#timer {
  position: absolute;
  left: 1000px;
  bottom: 650px;
  width: 200px;
  height: 30px;
  font-family: 'Press Start 2P', cursive;
  color: azure;
}

#game {
  width: 1300px;
  height: 700px;
  border: 1px solid skyblue;
  position: relative;
  left: 60px;
  background-size: 1300px;
 }

 .container {
  overflow: hidden;
}

.sliding-background {
  background: url('img/3739446 (1).jpg') repeat-x;
  height: 700px;
  width: 5076px;
  animation: slide 60s linear infinite;
}

@keyframes slide{
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}