#mario.small {
  position: absolute;
  left: 10px;
  bottom: 95px;
  height: 44px;
  width: 24px;
  opacity: 1;
  background: url("img/small-mario.png") 0px 0px;
}

#mario.normal {
  position: absolute;
  left: 0px;
  bottom: 95px;
  height: 88px;
  width: 45.5px;
  opacity: 1;
  background: url("img/mario-jump.png") 0px 0px;
  
 
}

#goomba {
  position: absolute;
  left: 1500px;
  bottom: 95px;
  height: 44px;
  width: 45.5px;
  background: url("img/pngkey.com-goomba-png-1876196.png") 0px 0px;
}

#gameover {
  position: absolute;
  left: 450px;
  bottom: 200px;
  width: 466px;
  height: 350px;
  display: none;
  background: url("img/maxresdefault.0.jpg") 0px 0px;
}


#bowser {
  position: absolute;
  left: 1200px;
  bottom: 95px;
  height: 100px;
  width: 113px;
  opacity: 1;
  background: url("img/favpng_super-mario-maker-super-mario-bros-wii-u.png") 0px 0px;
}

#princess {
  position: absolute;
  bottom: 95px;
  height: 120px;
  width: 69px;
  background: url('img/tumblr_7a922b7e02b6db9655fb212fc2a26b96_f5be641b_640.png') 0px 0px;
}

#fire {
  position: absolute;
  left: 1000px;
  bottom: 125px;
  height: 40px;
  width: 35px;
  background: url("img/fire.png") 0px 0px;
}

#marioFire {
  position: relative;
  height: 40px;
  width: 35px;
  background: url("img/imgbin_super-mario-kart-super-nintendo-entertainment-system-mario-series-png.png") 0px 0px;
}

#coin {
  position: relative;
  left: 40px;
  bottom: 40px;
  height: 40px;
  width: 40px;
  background: url("img/pixilart-486741.png") 0px 0px;
}

#redMushroom {
  position: relative;
  left: 100px;
  bottom: 40px;
  height: 40px;
  width: 50px;
  background: url("img/super-mario-bros-8-bit-mushroom-mario-background-1e204bf6ce54f1ee445dc8ec41d1eeb7.png")
    0px 0px;
}

#greenMushroom {
  position: relative;
  left: 100px;
  bottom: 40px;
  height: 40px;
  width: 50px;
  background: url("img/clipart1474184.png")
    0px 0px;
}

#blueShell {
  position: relative;
  left: 100px;
  bottom: 40px;
  height: 50px;
  width: 50px;
  background: url("img/pinpng.com-mario-question-mark-png-6881003.png")
    0px 0px;
  }
/* 
#floor {
  position: absolute;
  left: 0px;
  bottom: 0px;
  height: 94px;
  width: 5000px;
  background: url("img/Bricks.png") 0px 0px;
} */

#brick {
  position: absolute;
  left: 400px;
  bottom: 295px;
  height: 58px;
  width: 150px;
  background: url("img/toppng.com-super-mario-bros-super-mario-bros-cloud-1863x701.png") 0px 0px;
}

#prizeBrick {
  position: absolute;
  bottom: 365px;
  height: 58px;
  width: 300px;
  background: url("img/toppng.com-super-mario-bros-super-mario-bros-cloud-1863x701.png") 0px 0px;
}

#greenPipe {
  background: url("img/uv-pipe-big-25992.png");
  position: absolute;
  left: 1200px;
  bottom: 60px;
  height: 85px;
  width: 85px;
}



#timer {
  position: absolute;
  left: 1100px;
  bottom: 650px;
  width: 200px;
  height: 30px;
  font-family: "Press Start 2P", cursive;
  color: azure;
}

#startGame {
  position: absolute;
  left: 500px;
  bottom: 10px;
  width: 1200px;
  height: 30px;
  font-family: "Press Start 2P", cursive;
  display: block;
  color: gold
}

#gameOver {
  position: absolute;
  left: 480px;
  bottom: 400px;
  width: 450px;
  height: 30px;
  font-family: "Press Start 2P", cursive;
  color: azure;
  display: none;
}

#pauseMenu {
  position: relative;
  left: 250px;
  bottom: 550px;
  width: 800px;
  height: 400px;
  border: 2px solid black;
  font-family: "Press Start 2P", cursive;
  color: azure;
  background-color: black;
  white-space: pre;
}

#lives {
  position: absolute;
  left: 600px;
  bottom: 650px;
  width: 200px;
  height: 30px;
  font-family: "Press Start 2P", cursive;
  color: azure;
}

#score {
  position: absolute;
  left: 800px;
  bottom: 650px;
  width: 200px;
  height: 30px;
  font-family: "Press Start 2P", cursive;
  color: azure;
}

#game {
  width: 1300px;
  height: 700px;
  border: 1px solid skyblue;
  position: relative;
  left: 60px;
  background-size: 1300px;
}

#startmenu {
  width: 1260px;
  height: 700px;
  position: relative;
  left: 0px;
  bottom: 700px;
  display: block;
  background: url("img/pngwing.com.png") 0px 0px;
}

.container {
  overflow: hidden;
}

.sliding-background {
  background: url("img/3739446 (1).jpg") repeat-x;
  height: 700px;
  width: 5076px;
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}
